body {
    width: 365px;
    overflow-x: hidden;
    font: 12px/12px 'Open Sans', arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

.currentlyLogged {
    background-color: #f0f8ff
}

a {
    color: #C26F27;
}

a:hover {
    color: #ED7E1C;
}

.container {
    display: block;
}

.container div {
    float: left;
    margin: 0px 0px 5px 0px;
}

#time {
    margin-left: 5px;
    font-weight: bold;
}

#loader {
    width: 100%;
    text-align: center;
}

hr {
    width: 100%;
}

#entrances {
    margin: 5px 0px 0px 0px;
}

.in, .out {
    padding: 5px;
    font-weight: bold;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    display: block;
}

.in {
    border: 1px solid #BFBFBF;
    background-image: url('/../img/arrow-in1.png');
    background-position: left 10px center;
}

.out {
    border: 1px solid #7FD400;
    background-image: url('/../img/arrow-in1.png');
    background-position: right 10px center;
}

.in:before {
    content: "WEJŚCIE ";
    font-weight: normal;
}

.out:before {
    content: "WYJŚCIE ";
    font-weight: normal;
}

.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #ffffff;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.CSSTableGenerator tr:hover td {

}

.CSSTableGenerator tr:nth-child(odd) {
    background-color: #6699cc;
}

.CSSTableGenerator tr:nth-child(even) {
    background-color: #78afd3;
}

.CSSTableGenerator td {
    vertical-align: middle;

    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.CSSTableGenerator tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #003366 5%, #003f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f));
    background: -moz-linear-gradient(center top, #003366 5%, #003f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #003366, 003 f7f);

    background-color: #003366;
    border: 0px solid #ffffff;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #003366 5%, #003f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f));
    background: -moz-linear-gradient(center top, #003366 5%, #003f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #003366, 003 f7f);

    background-color: #003366;
}

.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

            .progress {
                height: 80px;
                width: 80px;
                margin: 50px auto;
            }
            .progress > svg {
                height: 100%;
                display: block;
            }
            @keyframes rotating {
              from {
                transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
              }
            }
            @-webkit-keyframes rotating /* Safari and Chrome */ {
              from {
                transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
              }
            }
            .rotating {
              -webkit-animation: rotating 2s linear infinite;
              -moz-animation: rotating 2s linear infinite;
              -ms-animation: rotating 2s linear infinite;
              -o-animation: rotating 2s linear infinite;
              animation: rotating 2s linear infinite;
              transform-origin: 50% 50%;
            }
